* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}

button {
  cursor: pointer;
}

h1 {
  color: #555555;
}

form {
  margin: 1rem 0;
}

form .box-input {
  display: flex;
  width: 100%;
}

form input {
  height: 4rem;
  width: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

form button {
  border: 0;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #333;
  border-radius: 0 0.5rem 0.5rem 0;
}

ol {
  overflow-y: scroll;
  height: 20rem;
  width: 30rem;
  background-color: #fff;
  padding: 1rem;
  list-style-position: inside;
  border-radius: 1rem;
  box-shadow: 3px 5px 20px #0005;
}

ol li {
  font-size: 1.25rem;
  font-weight: 300;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  background-color: #555555;
  width: 100%;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-links {
  margin-left: 1rem;
  display: flex;
  justify-content: space-around;
  width: 10%;
}

footer .social-links a {
  color: #fff;
  font-size: 2rem;
  transition: 0.5s all;
}

footer .social-links a:hover {
  transform: translateY(-0.5rem);
}

footer .social-links a.fa-github:hover {
  color: #333;
  text-shadow: 1px 1px 10px #fff5;
}

footer .social-links a.fa-linkedin:hover {
  color: #0077b5;
  text-shadow: 1px 1px 10px #0005;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(155, 155, 155, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.darkmode {
  background-color: #222;
  filter: hue-rotate(180deg) invert(100%);
  transition: 1s all;
}

.darkmode ol li {
  font-weight: 400;
}

.darkmode footer {
  background-color: #000;
}

#switchTheme {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000000;
  border: 0;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 700px) {
  #form-cep {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
  }

  main {
    padding: 0 1rem;
  }

  main form input {
    height: 3rem;
    font-size: 1.5rem;
  }

  ol {
    width: 100%;
  }

  ol li {
    font-size: 1rem;
  }

  footer {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.75rem;
    padding: 1rem;
    bottom: 0;
  }

  footer .social-links {
    margin: 0;
    width: 30%;
  }
  footer .social-links a {
    font-size: 1rem;
  }

  #switchTheme {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}
